$color-bg: rgb(8, 42, 46);
$color-text: white;
$color-nav-hover: rgb(42, 149, 110);
$color-nav-active: rgb(83, 245, 186);
$color-bg-group: rgb(28, 97, 71);
$color-bg-group-active: rgb(43, 151, 109);
$color-bg-section: rgb(31, 61, 50);
$color-circle-default: grey;
$color-circle-right: green;
$color-circle-error: red;

$width-desktop: 1440px;
