@import './fonts';
@import './mixins';
@import './variables';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    @include color-scale-active ($color-nav-hover, 0.3s);
}

html {
    font-family: 'Conkordia', serif;
    font-size: 10px;
    color: $color-text;
    scroll-behavior: smooth;
}

body {
    background-color: $color-bg;
    font-size: 2.5rem;
    min-height: 100vh;
    @include flex (column, space-between, stretch);
}

.container {
    max-width: $width-desktop;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
}

section {
    margin: 1rem 0;
}

.bg {
    background-color: $color-bg-section;
    border-radius: 10px;
}

@keyframes showBlock {
    0% {
        opacity: 0;
        transform: scale(0.2)
    }

    40% {
        opacity: 1;
        transform: scale(1.02)
    }

    60% {
        opacity: 1;
        transform: scale(1)
    }

    100% {
        opacity: 1;
    }
}

nav {
    @include flex (row, space-around, center);
    & > div {
        @include color-scale-active ($color-nav-active, 0.3s);
    }
}

.start-game {
    @include flex (row, space-around, center);
    a {
        width: 30rem;
        height: 10rem;
        @include flex (row, center, center);
        animation: showBlock 3s ease;
    }
}

.quiz {
    .score {
        width: fit-content;
        margin: 0 auto;
    }
    .group {
        @include flex (row, center, center);
        flex-wrap: wrap;
        &__item {
            background-color: $color-bg-group;
            padding: 0 1rem;
            border: solid 1px $color-text;
            &.active {
                background-color: $color-bg-group-active;
            }
        }
    }
    .random-bird {
        @include flex (row, left, center);
        .image {
            margin: 2rem;
            width: 200px;
            height: 155px;
            background-image: url('../assets/jpg/random-bird.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 1rem;
        }
        .audio {
            @include flex (column, left, center);
            .title {
                font-size: 5rem;
            }
            .player {
                border-top: 1px solid $color-text;
            }
        }
    }
}

footer {
	.container {
		@include flex (row, space-around, center);
	}
    .github,
    .logo-rs-school {
        img {
            width: 13.5rem; 
            height: 5rem;
            filter: invert(100%);
        }
    }
	.github img {
        width: 5rem;
		margin-right: 8.5rem;
	}
}