@import './fonts';
@import './mixins';
@import './variables';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    @include color-scale-active ($color-nav-hover, 0.3s);
}

html {
    font-family: 'Conkordia', serif;
    font-size: 10px;
    color: $color-text;
    scroll-behavior: smooth;
}

body {
    background-color: $color-bg;
    font-size: 2.5rem;
    min-height: 100vh;
    @include flex (column, space-between, stretch);
}

.container {
    max-width: $width-desktop;
    margin: 0 auto;
    position: relative;
    padding: 1rem;
}

.bg {
    margin: 1rem;
    padding: 1.5rem;
    background-color: $color-bg-section;
    border: 0.5px solid $color-nav-hover;
    border-radius: 0.5rem;
}

@keyframes showBlock {
    0% {
        opacity: 0;
        transform: scale(0.2)
    }

    40% {
        opacity: 1;
        transform: scale(1.02)
    }

    60% {
        opacity: 1;
        transform: scale(1)
    }

    100% {
        opacity: 1;
    }
}

nav {
    @include flex (row, space-around, center);
    & > div {
        @include color-scale-active ($color-nav-active, 0.3s);
    }
    .logo {
        width: 200px;
        height: 55px;
        background-image: url('../assets/svg/logo.svg');
        @include bg-image;
        a {
            display: block;
            height: inherit;
        }
    }
}

.index {
    .start-game {
        @include flex (row, space-around, center);
        a {
            width: 30rem;
            height: 10rem;
            font-size: 5rem;
            @include flex (row, center, center);
            animation: showBlock 3s ease;
        }
    }
    & + footer {
        margin-top: 0;
    }
}

.audio {
    flex-grow: 1;
    @include flex (column, center, center);
    &__container {
        width: 100%;
    }
    .title {
        font-size: 5rem;
    }
    .nav-progress {
        @include flex (row, left, center);
    }
    .navigation {
        .action-btn {
            width: 25px;
            height: 25px;
            border: none;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-color: initial;
            margin-right: 2rem;
            @include img-hover(invert(100%));
        }
        .play {
            &.play-image {
                background-image: url('../assets/svg/play.svg');
            }
            &.pause-image {
                background-image: url('../assets/svg/pause.svg');
            }
        }
    }
    .progress-container {
        position: relative;
        background: $color-text;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px 0;
        height: 4px;
        width: 100%;
    }
    .progress {
        background-color: $color-nav-active;
        border-radius: 5px;
        height: 100%;
        width: 0%;
        transition: width 0.1s linear;
    }
    .progress-circle {
        position: absolute;
        background-color: $color-text;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        top: 0;
        transform: translate(-50%, calc(-50% + 2px));
        cursor: pointer;
    }
    .duration {
        font-size: 1.5rem;
        @include flex (row, space-between, center);
        margin-left: calc(25px + 2rem);
        
    }
}

.quiz {
    .score {
        width: fit-content;
        margin: 0 auto;
    }
    .group {
        @include flex (row, center, center);
        gap: 1rem;
        flex-wrap: wrap;
        &__item {
            color: $color-nav-hover;
            &.active {
                color: $color-text;
            }
        }
    }
    .random-item {
        @include flex (row, left, stretch);
        .image {
            width: 200px;
            height: 155px;
            @include bg-image;
            border-radius: 1rem;
            margin-right: 2rem;
        }
    }
}

.btn {
    padding: 0;
    .next-level {
        width: 100%;
        text-align: center;
        color: $color-circle-default;
        border-radius: inherit;
        &.active {
            cursor: pointer;
            background-color: $color-bg-group-active;
            color: $color-text;
            @include bg-color ($color-nav-hover, 0.3s);
            &:hover {
                scale: 1.01;
            }
        }
    }
}

.answer {
    @include flex (row, left, stretch);
    .items {
        width: 50%;
        margin: 1rem;
        &__title {
            padding: 0.7rem;
            margin: 0;
            cursor: pointer;
            @include bg-color($color-bg-group, 0.3s);
            &:hover {
                border-color: $color-bg-group;
            }
            span {
                display: inline-block;
                width: 1.2rem;
                height: 1.2rem;
                border-radius: 50%;
                background-color: $color-circle-default;
                margin-right: 1.5rem;
                transition: 0.1s;
            }
            &.right span {
                background-color: $color-circle-right;
            }
            &.error span {
                background-color: $color-circle-error;
            }
        }
    }
    .description {
        width: 70%;
        @include flex (row, left, stretch);
        flex-wrap: wrap;
        gap: 1rem;
        .image {
            width: 200px;
            height: 155px;
            @include bg-image;
            border-radius: 1rem;
        }
        .info {
            @include flex (column, left, stretch);
            flex-grow: 1;
        }
        .title__lan,
        .title__lat {
           border-bottom: 0.5px solid $color-nav-hover;
        }
        .text {
            font-size: 2rem;
        }
    }
}

footer {
    margin-top: auto;
	.container {
		@include flex (row, space-around, center);
	}
    .github,
    .logo-rs-school {
        img {
            width: 12rem; 
            height: 4rem;
            filter: invert(100%);
        }
    }
	.github img {
        width: 5rem;
		margin-right: 8.5rem;
	}
}